[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=hdk-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=Discord
StartupNotify=true
